button {
  color: #292b2c;
  background-color: #fff;

  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.kv {
  display: flex;
  padding: 0.3em 0.3em;
}

.kv-key {
  display: inline-block;
  width: 20%;
}

.kv-value {
  display: inline-block;
  width: 80%;
}
